.register-container {
  display: flex;
  height: 100vh;
  margin-top: 20px;
  text-align: center;
}

.register-content {
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 250px;
}

:host ::ng-deep .p-inputtext,
input {
  width: 100%;
  margin-top: 10px;
}

.signup {
  margin-top: 20px;
  display: block;
}

.cancel {
  margin-top: 10px;
  display: block;
}

.alert {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.login
{
  overflow: auto;
}
