*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.xap
[Bb]in
[Dd]ebug*/
obj/
bin
typings/
packages/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.ncrunchsolution
*.ncrunchproject
*.rap
.axoCover/runs
.vs

# axoCover
.axoCover
.axoCover/
/.axoCover
/Source/.axoCover

# dependencies
/node_modules
node_modules/

# compiled output
/dist
/tmp
/out-tsc
*.trx

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.angular
.vscode
CaseFiles
CaseFiles/*
*.pdf
server/files/
server/files/*

dist
dist/*
dist/defender
dist/defender/*
/DefenderApp/aws-logger-errors.txt
*.exe
*.zip
*.pem
/automated-deployment/beanstalk-publish
/automated-deployment/terraform.tfstate
/automated-deployment/terraform.tfstate.backup
/automated-deployment/.terraform.tfstate.lock.info
**/.env
**/.env.*
CasifyAI/data
*.log
env
__pycache__