<div class="login-container">
  <div class="login-left">
    <img src="../../../assets/Logo.png" />
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <label for="email">Username or Email</label>
      <input
        pInputText
        type="text"
        formControlName="username"
        id="username"
        name="username"
      />
      <label for="password">Password</label>
      <input
        pInputText
        type="password"
        id="password"
        formControlName="password"
        name="password"
        placeholder="******"
      />
      <button type="submit" class="btn btn-signin">Sign In</button>
    </form>
    <p>
      Don't have an account?
      <p-button
        (onClick)="signUp()"
        label="Sign Up Now"
        size="small"
        [link]="true"
      ></p-button>
    </p>
  </div>
</div>
